# Pandas - Series

In [1]:
#기본적으로 해야 함 
import numpy as np
import pandas as pd

## 시리즈 생성

In [2]:
s = pd.Series([9904312, 3448737, 2890451, 2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [3]:
s = pd.Series([9904312, 3448737, 2890451, 2466052], 
              index=['서울', '부산', '인천', '대구'], dtype=np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [4]:
# 시리즈의 값 - 넘파이 배열
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int32)

In [5]:
# 시리즈의 인덱스
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [6]:
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

### 시리즈의 연산

In [7]:
s/10000000

도시
서울    0.990431
부산    0.344874
인천    0.289045
대구    0.246605
Name: 인구, dtype: float64

### 시리즈 인덱싱

In [9]:
# value는 numpy이기 때문에 이름을 줄 수 없음
# 나중에 DataFrame에서 column 명을 줄 수 있음 -> 그 때 가능 
s.values.name = '인구수'
s

AttributeError: ignored

In [23]:
s[1], s['부산'], s.부산

(3448737, 3448737, 3448737)

In [13]:
# fancy indexing
s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [14]:
s[['서울', '대구', '부산']]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [15]:
# slicing
# 인덱스(숫자)로 슬라이싱 하면 :뒤에 나오는 값 포함x
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int32

In [17]:
# 인덱스(문자)로 슬라이싱 하면 :뒤에 나오는 값도 포함됨
s['부산':'대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [18]:
# 필터링
s[2500000 < s < 3000000]    #사용 불가

ValueError: ignored

In [20]:
#필터링
s[(2500000<s) & (s<3000000)]

도시
인천    2890451
Name: 인구, dtype: int32

In [21]:
s[(s<25e5) | (s>4e6)]

도시
서울    9904312
대구    2466052
Name: 인구, dtype: int32

In [22]:
# 지금은 버전이 업되어서 한글 인덱스도 가능
s.부산

3448737

### 시리즈와 딕셔너리

In [24]:
#딕셔너리의 원소는 순서를 가지지 않으므로 시리즈의 데이터도 순서가 보장x
#만약 순서를 정하고 싶다면 인덱스를 리스트로 지정해야 한다.
s2 = pd.Series({'서울': 9631482, '부산': 3393191, '인천': 2632035, '대전': 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [25]:
'서울' in s, '대전' in s

(True, False)

### 인덱스 기반 연산

In [26]:
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [27]:
s.values - s2.values

array([272830,  55546, 258416, 975894])

In [29]:
rs = (s-s2)/s * 100
rs

대구         NaN
대전         NaN
부산    1.610619
서울    2.754659
인천    8.940335
dtype: float64

In [30]:
rs.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [33]:
rs = rs[rs.notnull()]
rs

부산    1.630000
서울    2.754659
인천    8.940335
dtype: float64

### 데이터 갱신, 추가, 삭제

In [34]:
# 갱신
rs['부산'] = 1.63
rs

부산    1.630000
서울    2.754659
인천    8.940335
dtype: float64

In [35]:
# 추가 
rs['대구'] = 1.41
rs

부산    1.630000
서울    2.754659
인천    8.940335
대구    1.410000
dtype: float64

In [36]:
# 삭제
del rs['부산']
rs

서울    2.754659
인천    8.940335
대구    1.410000
dtype: float64